<%# Intentionally empty, useful override point to add extra fields. %>
<div class='field'>
	<span class='label_with_help'>
		<%= f.label :page_colour, "Colour (Hex)" %>
	</span>
	<%= f.text_area :page_colour %> Colour to highlight page buttons.
</div>
